[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
aioresponses = "*"
pytest-asyncio = "*"
coverage = "*"

[packages]
aiohttp = "*"

[requires]
python_version = "3.7"
